system {
    host-name {{hostname}};
    login {
{% for user in users %}
        user {{user.username}} {
            class super-user;
        }
{% endfor %}
    }
    services {
        ssh;
        netconf {
            ssh;
        }
    }
    ntp {
{% for ntp_host in ntp_servers %}
        server {{ntp_host}};
{% endfor %}
    }
}

