system {
    host-name {{hostname}};
    root-authentication {
        encrypted-password "$1$VXXpDMDn$lzQCfiwL59/3UV21cVaBa."; ## SECRET-DATA
    }
    login {
{% for user in users %}
        user {{user.username}} {
            class super-user;
            authentication {
                encrypted-password {{user.password|hash('md5')}}; ## SECRET-DATA
            }
        }
{% endfor %}
    }
    services {
        ssh;
        netconf {
            ssh;
        }
    }
    ntp {
{% for ntp_host in ntp_servers %}
        server {{ntp_host}};
{% endfor %}
    }
}
