{% set node = nodes[inventory_hostname] %}
!
hostname {{inventory_hostname}}
!
username cisco privilege 15 password 0 cisco
!
!
interface {{mgmt_intf}}
 ip address {{node.mgmt}} 255.255.255.0
!
!
interface Loopback0
 ip address {{node.rid}} 255.255.255.255
!
{% for intf,intf_attr in node.links.items()|sort %}
interface {{intf.split('.')[0]}}
{%  if intf_attr.vlan  is undefined or intf_attr.vlan == 0 %}
 ip address {{intf_attr.ip|ipaddr('address')}} {{intf_attr.ip|ipaddr('netmask')|default('24')}}
 mpls ip
 ip rsvp bandwidth
 ip ospf network point-to-point
 ip ospf cost {{intf_attr.cost}}
 ip ospf {{node.ospf.process}} area {{intf_attr.area}}
 !
{%  endif %}
{%  if intf_attr.vlan  is defined and intf_attr.vlan != 0 %}
interface {{intf}}
 ip address {{intf_attr.ip|ipaddr('address')}} {{intf_attr.ip|ipaddr('netmask')|default('24')}}
 encapsulation dot1q {{intf_attr.vlan}}
 mpls ip
 ip rsvp bandwidth
 ip ospf {{node.ospf.process}} area {{intf_attr.area}}
 ip ospf network point-to-point
 ip ospf cost {{intf_attr.cost}}
{%  endif %}
!
{% endfor %}

!
router ospf {{node.ospf.process}}
 router-id {{node.rid}}
 passive-interface Loopback0
!
!
router bgp {{common.bgp_asn}}
 bgp log-neighbor-changes
 bgp router-id {{node.rid}}
{% for peer in node.bgp.ibgp.peers %}
 neighbor {{peer}} remote-as {{common.bgp_asn}}
 neighbor {{peer}} update-source Loopback0
{% endfor %}
 !
{%  if 'inet' in node.bgp.ibgp.af %}
 address-family ipv4
{% for peer in node.bgp.ibgp.peers %}
  neighbor {{peer}} activate
{% endfor %}
 exit-address-family
 !
{%  endif %}
{%  if 'inet-vpn' in node.bgp.ibgp.af %}
 address-family vpnv4
{% for peer in node.bgp.ibgp.peers %}
  neighbor {{peer}} activate
  neighbor {{peer}} send-community both
{% endfor %}
 exit-address-family
!
{%  endif %}
