interfaces {
{% for intf in interfaces %}
	interface {{intf.name}} {
		encapsulation flexible-ethernet-services;
		vlan-tagging;
		{% for vlan in intf.vlans %}
		unit {{vlan.vlanid}} {
			vlan-id {{vlan.vlanid}};
			family inet address {
				{{vlan.ip.addr}}{{vlan.ip.mask}}
            }
		}
		{% endfor %}
	}
{% endfor %}
}