{% set node = nodes[inventory_hostname] %}
{#
**************************************************
###         Interfaces configuration        ######
**************************************************
    #}
interfaces {
{% for intf,intf_attr in node.links.items()|sort %}
    {{ intf.split('.')[0] }} {
        description "{{intf_attr.remote}}"
{%  if intf_attr.vlan  is defined and intf_attr.vlan != 0 %}
        vlan-tagging;
        encapsulation flexible-ethernet-services;
        unit {{intf_attr.vlan}} {
            vlan-id {{intf_attr.vlan}};
            family inet {
                address {{intf_attr.ip|ipaddr('address')}}/{{intf_attr.ip|ipaddr('prefix')|default('24')}};
            }
{%          if intf_attr.mpls is defined %}
            family mpls;
{%          endif %}
        }
    }
{%      else %}
        unit 0 {
            family inet {
                address {{intf_attr.ip|ipaddr('address')}}/{{intf_attr.ip|ipaddr('prefix')|default('24')}};
            }
{%          if intf_attr.mpls is defined %}
            family mpls;
{%          endif %}
        }
    }
{%  endif %}
{% endfor %}
}
protocols {
{#
**************************************************
###         OSPF  Variables                  ######
**************************************************
#}
{% if node.ospf is defined %}
    ospf {
        area 0 {
{%          for intf, intf_attr in node.links.items()|sort %}
            interface {{ intf }} {
                interface-type p2p;
{%              if intf_attr.cost is defined %}
                metric {{intf_attr.cost }};
{%              endif %}
            }
{%          endfor %}
        }
    }
{% endif %}
{#
**************************************************
###         LDP  Variables                  ######
**************************************************
#}
{% if node.ldp is not defined  %}
    ldp {
{%      for intf, intf_attr in node.links.items()|sort %}
        interface {{intf}};
{%      endfor %}
    }
{% endif %}
{#
**************************************************
###         RSVP  Variables                  ######
**************************************************
    #}
{% if node.rsvp is not defined %}
    rsvp {
{%      for intf, intf_attr in node.links.items()|sort %}
        interface {{intf}};
{%      endfor %}
    }
{% endif %}
{#
**************************************************
###         MPLS and LLDP  Variables        ######
**************************************************
#}
    mpls {
{%      for intf, intf_attr in node.links.items()|sort %}
        interface {{intf}};
{%      endfor %}
    }
    lldp {
{%      for intf, intf_attr in node.links.items()|sort %}
        interface {{intf.split('.')[0]}};
{%      endfor %}
    }
}
